.footer {
  color: #353434;
  background-color: #cfc4c4;
  width: 100%;
  min-height: 60px;
  margin-top: 47px;
  padding: 22px 90px;
  font-family: Arima Madurai, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
}

.content {
  display: flex;
  align-items: center;
  gap: 4px;
}

.copyrightIcon {
  width: 16px;
  height: 16px;
}

.copyright {
  margin: 0;
}

@media (width <= 991px) {
  .footer {
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
