.cardContainer {
  background: #fff;
  padding: 20px;
  border-radius: 0;
  max-width: 500px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Arima Madurai", sans-serif;
  z-index: 100;
}

/* Registration Check */
.registrationCheck {
  display: flex;
  margin-bottom: 20px;
}

.title {
  color: #4d4500;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.checkButton {
  background: #693108;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-weight: bold;
  font-family: Arima Madurai, -apple-system, Helvetica, sans-serif;
}

/* Scheduled Status */
.scheduledStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  margin-left: 6%;
}

.icon {
  color: #6b6b00;
  font-size: 30px !important;
}

.statusLabel {
  color: #4d4500;
  margin: 4px;
  font-size: 12px;
}

.date,
.time {
  font-size: 14px;
  color: #444;
  font-weight: 700;
  margin: 4px;
  font-size: 10px;
}

/* Upcoming Events */
.eventsSection {
  border-top: 1px solid #ddd;
  padding-top: 15px;
}

.eventsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.eventsTitle {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  color: #4d4500;
  font-weight: bold;
}

.viewAll {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #a94a00;
  text-decoration: none;
  font-weight: bold;
}

.eventList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.eventItem {
  display: flex;
  padding: 5px 0;
  font-size: 14px;
  color: #4d4500;
}

.eventDate,
.eventTime {
  min-width: 80px;
}

.eventTitle {
  font-weight: bold;
  color: #6b6b00;
}

.statusCardFooterWrapper {
  display: flex;
}

.footerHeading {
  margin: 0;
  color: #4F4500;
  font-size: 24;
  font-weight: 200;
}

.footerHeaderHolder {
  display: flex;
  position: relative;
  flex: 1;
}

.footerDecorHolder {
  display: flex;
  position: relative;
  flex: 1;
  margin-left: 10%;
}