.instructions {
  color: #616060;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  margin: 0 auto;
  padding: 32px 50px 40px;
  font-family: Arima Madurai, -apple-system, Roboto, Helvetica, sans-serif;
  display: flex;
}

.title {
  color: #75762a;
  font-size: 26px;
  font-weight: 900;
  margin: 0;
}

.divider {
  background-color: #ece7e7;
  width: 100%;
  height: 1px;
  border: none;
  margin: 32px 0;
}

.subtitle {
  font-size: 20px;
  font-weight: 900;
  margin: 0;
}

.guideline {
  margin-top: 32px;
}

.guidelineHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 32px;
}

.count {
  color: #fff;
  background-color: #808141;
  border-radius: 30px;
  width: 61px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}

.guidelineText {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.contactInfo {
  margin-top: 32px;
}

.contactTitle {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.contactNumbers {
  display: flex;
  gap: 32px;
  margin-top: 4px;
  font-size: 24px;
  font-weight: 900;
}

.phoneNumber {
  color: inherit;
  text-decoration: none;
}

.locationInfo {
  display: flex;
  align-items: start;
  gap: 12px;
  margin-top: 32px;
}

.qrCode {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100px;
}

.scanText {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

@media (width <= 991px) {
  .instructions {
    max-width: 100%;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .title {
    max-width: 100%;
  }

  .count {
    margin-left: 10px;
  }
}
